<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EdamoniaAI</title>
    <link rel="stylesheet" href="../static/style.css">
    <script>
        // Функція для перенаправлення на потрібну сторінку
        function navigateToBot() {
            window.location.href = "./ai-bot.html"; // Заміни на потрібний URL
        }
    </script>
</head>
<body>
    <header>
        <div class="logo">EdamoniaAI</div>
        <nav>
            <a href="#" class="ai-bot-button">AI-bot</a>
            <a href="#"><strong>Про нас</strong></a>
            <a href="#"><strong>Для кого</strong></a>
            <a href="#"><strong>Контакти</strong></a>
        </nav>
    </header>

    <main>
        <section class="hero">
            <img src="../static/images/rb_717.png" alt="Ілюстрація" class="hero-image">

            <div class="hero-content">
                <h1>Хочеш, щоб усе було простим із <span>EdamoniaAI.</span></h1>
                <p>Аналітика продажів та закупівель для ефективних рішень</p>
                <!-- Додано подію onClick для кнопки -->
                <button class="get-started" onclick="navigateToBot()">Get Started</button>
            </div>
        </section>
    </main>
</body>
</html>
